<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>jbdsis-qe</id>
			<properties>
				<devstudio-url>http://tooling.fuse-qe.eng.rdu2.redhat.com/p2/devstudio.redhat.com</devstudio-url>
				<jbosstools-url>http://tooling.fuse-qe.eng.rdu2.redhat.com/p2/download.jboss.org/jbosstools</jbosstools-url>
			</properties>
			<repositories>
				<repository>
					<id>jbdsis-qe-group</id>
					<url>http://fuse-qe.rhev-ci-vms.eng.rdu2.redhat.com:8081/repository/jbdsis-qe/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jbdsis-qe-group</id>
					<url>http://fuse-qe.rhev-ci-vms.eng.rdu2.redhat.com:8081/repository/jbdsis-qe/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>jbdsis-qe</activeProfile>
	</activeProfiles>
	<mirrors>
		<mirror>
			<id>internal-repository</id>
			<url>http://fuse-qe.rhev-ci-vms.eng.rdu2.redhat.com:8081/repository/jbdsis-qe/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
		<!-- Eclipse p2 repositories -->
		<mirror>
			<id>fuse-master-mirror</id>
			<layout>p2</layout>
			<url>http://tooling.fuse-qe.eng.rdu2.redhat.com/p2/download.jboss.org/jbosstools/oxygen/snapshots/builds/jbosstools-fuse_master/</url>
			<mirrorOf>http://download.jboss.org/jbosstools/oxygen/snapshots/builds/jbosstools-fuse_master/</mirrorOf>
			<mirrorOfLayouts>p2</mirrorOfLayouts>
		</mirror>
		<mirror>
			<id>jbosstools-oxygen-stable-mirror</id>
			<layout>p2</layout>
			<url>http://tooling.fuse-qe.eng.rdu2.redhat.com/p2/download.jboss.org/jbosstools/oxygen/stable/updates/</url>
			<mirrorOf>http://download.jboss.org/jbosstools/oxygen/stable/updates/</mirrorOf>
			<mirrorOfLayouts>p2</mirrorOfLayouts>
		</mirror>
		<mirror>
			<id>jbosstools-oxygen-staging-mirror</id>
			<layout>p2</layout>
			<url>http://tooling.fuse-qe.eng.rdu2.redhat.com/p2/download.jboss.org/jbosstools/oxygen/staging/updates/</url>
			<mirrorOf>http://download.jboss.org/jbosstools/oxygen/staging/updates/</mirrorOf>
			<mirrorOfLayouts>p2</mirrorOfLayouts>
		</mirror>
		<mirror>
			<id>jbosstools-targetplatform-mirror</id>
			<layout>p2</layout>
			<url>http://tooling.fuse-qe.eng.rdu2.redhat.com/p2/download.jboss.org/jbosstools/targetplatforms/jbosstoolstarget/</url>
			<mirrorOf>http://download.jboss.org/jbosstools/targetplatforms/jbosstoolstarget/</mirrorOf>
			<mirrorOfLayouts>p2</mirrorOfLayouts>
		</mirror>
	</mirrors>
</settings>
